<!-- <p>bmi-calculator works!</p> -->
<div class="container">
  <h1>Toy Project 3</h1>
  <h3>Bmi Calculator</h3>
  <div class="input-group">
    <label>
      Weight (kg)
      <input
        type="number"
        [(ngModel)]="weight"
        placeholder="Enter your weight"
      />
    </label>
  </div>

  <div class="input-group">
    <label>
      Height (cm)
      <input
        type="number"
        [(ngModel)]="height"
        placeholder="Enter your height"
      />
    </label>
  </div>

  <button (click)="calculateBMI()" (keydown)="onKeyDown($event)">
    Calculate
  </button>
  <div class="result" *ngIf="bmi !== null">
    <h3>Your BMI: {{ bmi }}</h3>
    <h3>Status: {{ status }}</h3>
  </div>
</div>
